<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Akatsuki</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
  
  
</head>
<body>
  <div class="initcontainer">
    <div class="image">
      <img src="{{ url_for('static', filename='/img/akatsuki.jpg') }}" >
    </div>
    <div class="inittext">
      <p>AKATSUKI CINEMAS</p>
    </div>
  </div>
  <div class="movie-container">
    <label>Select a movie:</label>
    <select id="movie">
      <option value="100">Jujutsu Kaisen: Zero (R100)</option>
      <option value="90">Demon Slayer: Mugen Train (R90)</option>
      <option value="95">Dragon Ball Super Movie (R95)</option>
      <option value="110">Boku no Hero: World Hero's Mission (R110)</option>
    </select>
  </div>
  
  <ul class="showcase">
    <li>
      <div class="seat"></div>
      <small>Available</small>
    </li>
    <li>
      <div class="seat selected"></div>
      <small>Selected</small>
    </li>
    <li>
      <div class="seat sold"></div>
      <small>Sold</small>
    </li>
  </ul>
  <div class="container">
    <div class="screen"></div>

    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>

    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>

    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>

    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>
  </div>
  <form action="/booking" method = "post">
    <p class="text"></p>
      You have selected <span id="count">0</span> seats for a price of R<span id="total">0</span></p>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </form>
</body>
</html>