<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <title>Akatsuki</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <img src="akatsuki.jpg">
    <p class="thanks">Thank you for purchasing a ticket!</p>
    <p class="akagang">Love the Akatsuki family</p>
    <a class="aa" href="/index.html">Back to booking page</a>

</body>